SetEnv APPLICATION_ENV local

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Module assets
RewriteCond %{DOCUMENT_ROOT}/../module/$1/public/$2 -s
RewriteRule ^assets/([a-zA-Z0-9]*)/(.*) ./../module/$1/public/$2 [NC,L,QSA]

RewriteRule ^.*$ index.php [NC,L]
